*{
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar{
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-contain{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.nav-logo{
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.3rem;
  font-weight: 600;
}

.navbar-menu{
  list-style: none;
  display: flex;
  font-size: 1.5rem;
  background-color: #131313;
}

.link{
  text-decoration: none;
  /* margin-right: ; */
  color: white;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  /* font-weight: 600;
  font-size: 1.2rem; */
}

.link:hover{
  color: #8f0eff;
}

.active:hover {
  color: white;
  transition: all .5s ease;
}
 
.active{
  transition: 0.3s;
  border-bottom: solid 4.3px #8f0eff;
  padding-bottom: 13.2px;
}

body{
  background: linear-gradient(to right, #161616, #000000);
  width: 100%;
  color: whitesmoke;
}

/* all section */
.styledNavbar{
  color: white;
  height: 100%;
  padding: 10px;
  background: linear-gradient(to right, #161616, #000000);
}

/* ----------------------------------------------------------------------- */

/* home page  */
.main-page{
  background: linear-gradient(to right, #161616, #000000);
  max-width: 100%;
  padding: 200px 0;
  /* padding-bottom: 300px; */
}

.main-page-contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.main-heading{
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}

.main-heading span{
  background: #ee0979;
  background: -webkit-linear-gradient(
      to right,
      #ff6a00,
      #ee0979);
  background: linear-gradient(
      to right,
      #ff6a00,
      #ee0979);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-description{
  font-size: 60px;
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-btn{
  font-size: 1.8rem;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  padding: 20px 60px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
  text-decoration: none;
}

.main-btn p{
  text-decoration: none;
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

/* ----------------------------------------------------------------------- */

/* product page */

.search-product{
  margin: 48px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input{
  margin: 20px;
  padding: 20px;
  width: 700px;
  font-size: 18px;
  background-color: #3a3a3a;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
}

.flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  /* margin: 0px -10px; */
}

.item{
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  margin-bottom: 50px;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.content{
  color: rgb(0, 0, 0);
  /* background-color: #989999; */
  background-color: rgb(143, 142, 142);
  box-shadow: 2px 2px 16px 13px rgba(217, 217, 217, 0.1);
  box-shadow: 1;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 5px;
  z-index: 999;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding-top: 30px;
}

article h4 {
  font-size: 1.5rem;
}

article h5 {
  font-size: 1rem;
}


.each-content{
  margin: 5px;
}

.btn-more-info{
  padding: 10px;
  margin: 10px;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
}

.more-info{
  text-decoration: none;
  color: rgb(255, 249, 239);
  font-size: 1rem;
  font-weight: 600;
}

/* ----------------------------------------------------------------------- */

/* singleProduct */
.single-product{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 20px;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1600px;
  padding: 0 50px;
  /* background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  filter: blur(12px);
  z-index: 1; */
}

.data-player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  padding-right: 75px;
}

.image-player{
  /* border: solid red; */
  margin-top: 30px;
  width: 550px;
  height: 390px;
  z-index: 2;
}

.stat-player{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  font-size: 1.5rem;
  z-index: 2;
}

.name-stat, .stat{
  padding: 40px;
  z-index: 999;
}

.data{
  margin: 5px;
  z-index: 2;
}

.chart-player{
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid red;
}

/* ----------------------------------------------------------------------- */

/* About page */

.main-page-about{
  /* background: linear-gradient(to right, #161616, #000000); */
  /* background-color: red; */
  display: flex;
  align-items: center;

  margin: 0 auto;
  margin-top: 80px;

  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
  /* padding-bottom: 53px; */
}

.main-image-contain{
  text-align: center;
  padding-right: 50px;
}

.main-img-card{
  margin: 10px;
  height: 500px;
  width:  500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde, #fc00ff 100% );
}

.main-image-card img{
  width: 700px;
  height: 700px;
}

.about-content h1{
  font-size: 2rem;
  background-color: #fe3b6f;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.about-content h2{
  display: flex;
  justify-content: flex-start;
  font-size: 3rem;
  background: #ff8177; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #9114ff,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f0eff,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.all-about{
  color: white;
  margin:  2rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.main-btn p{
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

/* ----------------------------------------------------------------------- */

/* Login page */

.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 268px;
}

.not-login{
  padding: 111px;
}

.profile-logged-in{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-logged-in p{
  margin: 9.4px;
}

.login-img{
  border-radius: 50%;
}

.show-login{
  color: white;
}
